API_HOST="http://localhost:8000"
API_PREFIX=/api
API_VERSION=v1

DB_NAME="dbname"
DB_USER="user"
DB_PASSWORD="pass"


SCANR_ES_HOST="https://host_name.com/"
SCANR_ES_USER="johndoe"
SCANR_ES_PASSWORD="pass"

SCOPUS_API_KEY="key"
SCOPUS_INST_TOKEN="token"

AMQP_WAIT_BEFORE_SHUTDOWN=30
INNER_TASK_PARALLELISM_LIMIT=10
AMQP_PREFETCH_COUNT=10

ENABLE_CONCEPT_DEREFERENCING=true
ENABLE_ORGANIZATIONS_DEREFERENCING=true
THIRD_API_CACHING_ENABLED=true

LOGURU_LEVEL=DEBUG

AMQP_EXCHANGE_NAME="publications"
AMQP_RETRIEVAL_ROUTING_KEY="task.entity.references.retrieval"
AMQP_REFERENCE_EVENT_ROUTING_KEY="event.references.reference.*"
AMQP_HARVESTING_EVENT_ROUTING_KEY="event.references.harvesting.state"
AMQP_RETRIEVAL_EVENT_ROUTING_KEY="event.references.retrieval.state"

SVP_JEL_PROXY_URL="http://localhost:3030/jel/sparql"

WIKIDATA_USER_AGENT="CRISalid-Harvester/1.0 (https://my-domain.edu; mailto:contact@mydomain.edu)"