const env = {
    SVP_HARVESTER_API_HOST: "http://localhost",
    SVP_HARVESTER_API_PORT: "8000",
    SVP_HARVESTER_API_PATH: "/api/v1",
    IDENTIFIERS: {
        "id_hal_i": {
            "key": "id_hal_i",
            "label": "IdHAL-i",
            "format": "^[0-9]{1,9}$",
            "placeholder": "123456789"
        },
        "idref": {
            "key": "idref",
            "label": "IdRef",
            // up to 9 digits
            "format": "^[0-9]{1,9}$",
            "placeholder": "123456789"
        },
        "orcid": {
            "key": "orcid",
            "label": "ORCID",
            "format": "^([0-9]{4}-){3}[0-9]{3}[0-9X]$",
            "placeholder": "1234-5678-1234-5678"
        },
        "researcherid": {
            "key": "researcherid",
            "label": "ResearcherID",
            "format": "^[A-Z]{1}-[0-9]{4}-[0-9]{4}$",
            "placeholder": "A-1234-5678"
        },
        "scopusid": {
            "key": "scopusid",
            "label": "ScopusID",
            "format": "^[0-9]{9}$",
            "placeholder": "123456789"
        },
        "arxiv": {
            "key": "arxiv",
            "label": "arXiv",
            "format": "^[0-9]{4}.[0-9]{4,5}$",
            "placeholder": "1234.56789"
        },
        "pubmed": {
            "key": "pubmed",
            "label": "PubMed",
            "format": "^[0-9]{8}$",
            "placeholder": "12345678"
        },
    }
}
export default env