apiVersion: v1
kind: Secret
metadata:
  name: svph-db-secret
data:
  admin_db_password: base64password
  admin_db_name: base64dbname
  db_password: base64password
  db_user: base64username
  db_name: base64dbname
