// Import all of Bootstrap's CSS
$enable-negative-margins: true;
$info: #dcebfe;
//Generate utilites for Cursor
//https://5balloons.info/cursor-pointer-and-other-classes-for-bootstrap-5
@import "~bootstrap/scss/bootstrap-utilities";
$utilities: map-merge(
                $utilities,
                (
                        "cursor": (
                                property: cursor,
                                values: auto default pointer wait text move help not-allowed
                        ),
                )
);
@import "~bootstrap/scss/bootstrap";
// from https://stackoverflow.com/a/74992564
$bootstrap-icons-font-dir: "~bootstrap-icons/font/fonts";

@import "~bootstrap-icons/font/bootstrap-icons.scss";
@import "~bootstrap5-toggle/css/bootstrap5-toggle.min.css";
@import '~datatables.net-dt/css/jquery.dataTables.css';
@import '~tom-select/dist/css/tom-select.bootstrap5.min.css';
@import '~vanillajs-datepicker/sass/datepicker-bs5.scss';
@import '../../node_modules/pretty-print-json/dist/css/pretty-print-json.dark-mode.min.css';


body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  //background-color: rgba(0, 0, 0, .25);
  //box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.navbar-brand {
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;

}

#references-table {
  pre {
    background-color: #000000;
    margin-left: 3em;
  }
}

.bg-custom-navbar {
   background-color: #566BCD !important;
}

.bg-custom {
   background-color: rgba(25, 118, 210, 0.04) !important;
}