<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="generator" content="">
  {% block head %}
    <title>{% block head_title %}  head_title {% endblock %} - {% trans %}application_name{% endtrans %} | {{ institution_name }}</title>
  {% endblock %}
  <script src="/static/js/main.js"></script>
</head>
<body class="bg-custom">
<header class="navbar sticky-top navbar-dark bg-custom-navbar flex-md-nowrap p-0 shadow">
  {% block header %}
    <a class="navbar-brand col-md-3 col-lg-6 me-0 px-3 text-truncate" href="/admin">{% trans %}application_name{% endtrans %} • {{ institution_name }}</a>

    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="w-100" style="opacity: 0;"></div> <!-- Placeholder -->
    <select class="form-select form-select-sm ms-4 w-auto" data-width="fit"
            onchange="window.location.href = '?locale=' + this.value;">
      <option {% if locale == "en_US" %}selected{% endif %} value="en_US">English</option>
      <option {% if locale == "fr_FR" -%}selected{% endif %} value="fr_FR">Français</option>
    </select>
    <div class="navbar-nav">
      <div class="nav-item text-nowrap">
        <a class="nav-link px-3" href="#">Sign out</a>
      </div>
    </div>
  {% endblock %}
</header>

<div class="container-fluid ">
  <div class="row gx-0">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-info sidebar collapse">
    <div class="mx-auto w-75">
      {% block menu %}
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a {% if page == "overview" %}class="nav-link  active"  aria-current="page"
                 {% else %}class="nav-link" {% endif %} href="/admin?locale={{ locale }}">
                <span data-feather="home"></span>
                <i class="bi bi-bank2"></i>
                {% trans %}main_menu_overview_entry{% endtrans %}
              </a>
            </li>
            <li class="nav-item">
              <a {% if page == "retrieve" %}class="nav-link  active"  aria-current="page"
                 {% else %}class="nav-link" {% endif %} href="/admin/retrieve?locale={{ locale }}">
                <i class="bi bi-database-add"></i>
                {% trans %}main_menu_data_retrieval_entry{% endtrans %}
              </a>
            </li>
            <li class="nav-item">
              <a {% if page == "history" %}class="nav-link  active"  aria-current="page"
                 {% else %}class="nav-link" {% endif %} href="/admin/history/collection?locale={{ locale }}">
                <i class="bi bi-clock-history"></i>
                {% trans %}main_menu_history_entry{% endtrans %}
              </a>
            </li>
            <li class="nav-item">
              <a {% if page == "settings" %}class="nav-link  active"  aria-current="page"
                 {% else %}class="nav-link" {% endif %} href="/admin/settings?locale={{ locale }}">
                <i class="bi bi-wrench"></i>
                {% trans %}main_menu_settings_entry{% endtrans %}
              </a>
            </li>

          </ul>
        </div>
      {% endblock %}
    </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 p-2">
      {% block main %}
        {% block first_section %}
          <div class="d-grid gap-3">
            <h1>{% block first_section_title %} first_section_title {% endblock %}</h1>
            {% block first_section_content %}
              <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
            {% endblock %}
          </div>

        {% endblock %}

      {% endblock %}
    </main>
  </div>
</div>
<input type="hidden" id="page-identifier" value="{{ page }}">
<input type="hidden" id="api-host" value="{{ api_host }}">
<input type="hidden" id="api-path" value="{{ api_path }}">
</body>
</html>
