<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="generator" content="">
    {% block head %}
        <title>{% block head_title %}  head_title {% endblock %} - SVP</title>
    {% endblock %}
    <script src="/static/js/main.js"></script>
</head>
<body>
    <header class="navbar sticky-top navbar-dark bg-primary flex-md-nowrap p-0 shadow">
        {% block header %}
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/admin">SoVisu Plus Harvester</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
            <select class="ms-4" data-width="fit" onchange="window.location.href = '?locale=' + this.value;">
                <option {% if locale == "en_US" %}selected{% endif %} value="en_US">English</option>
                <option {% if locale == "fr_FR" -%}selected{% endif %}   value="fr_FR">Français</option>
            </select>
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="#">Sign out</a>
                </div>
            </div>
        {% endblock %}
    </header>

    <div class="container-fluid">
        <div class="row gx-0">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-info sidebar collapse">
                {% block menu %}
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a {% if page == "overview" %}class="nav-link  active"  aria-current="page" {% else %}class="nav-link" {% endif %} href="/admin?locale={{ locale }}">
                                    <span data-feather="home"></span>
                                    {% trans %}Admin dashboard : overview{% endtrans %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a {% if page == "retrieve" %}class="nav-link  active"  aria-current="page" {% else %}class="nav-link" {% endif %}  href="/admin/retrieve?locale={{ locale }}">
                                    {% trans %}Data retrieval{% endtrans %}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a {% if page == "history" %}class="nav-link  active"  aria-current="page" {% else %}class="nav-link" {% endif %}  href="/admin/history?locale={{ locale }}">
                                    {% trans %}Harvesting history{% endtrans %}
                                </a>
                            </li>

                        </ul>

                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            molestiae urna
                        </h6>
                        <ul class="nav flex-column mb-2">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    pericula interesset
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    dicant regione mei
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/other">
                                    dissentiunt
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
            </nav>

            <main class="col-md-9 ms-sm-auto col-lg-10">
                {% block main %}
                    {%  block first_section %}
                            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  bg-info ps-md-2 ms-lg-n2">
                                <h1>{% block page_title %} page_title {% endblock %}</h1>
                            </div>

                        <div class="ps-md-2">
                        <h2>{% block first_section_title %} first_section_title {% endblock %}</h2>
                        {% block first_section_content %}
                            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
                        {% endblock %}
                        </div>

                    {% endblock %}

                    {%  block second_section %}
                    <div class="bg-light ms-md-n2 ps-md-3 mt-2">
                        <h2>{% block second_section_title %}second_section_title {% endblock %}</h2>

                        {% block second_section_content %}

                        {% endblock %}
                    </div>
                    {% endblock %}

                {% endblock %}
            </main>
        </div>
    </div>
    <input type="hidden" id="page-identifier" value="{{ page }}">
</body>
</html>
