{% extends "./base.html.jinja" %}
{#  faire  le tempating de base du mockup figma #}

{% block head_title %}{% trans %}history_page_title{% endtrans %}{% endblock %}
{% block first_section_title %}{% trans %}history_page_title{% endtrans %}{% endblock %}
{% block first_section_content %}

    <!-- Display tabs -->
    <ul class="nav nav-pills mb-3">
        <li class="nav-item">
            <a class="nav-link {% if subpage == 'collect_history' %} active {% endif %}" href="/admin/history/collect?locale={{ locale }}">Collect History</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if subpage == 'publication_history' %} active {% endif %}" href="/admin/history/publication?locale={{ locale }}">Publication History</a>
        </li>
    </ul>

    <!-- Display appropriate content -->
    {% if subpage == 'collect_history' %}
        {% include 'history_collect.html.jinja' %}
    {% elif subpage == 'publication_history' %}
        {% include 'history_publication.html.jinja' %}
    {% endif %}

{% endblock %}