{% extends "./base.html.jinja" %}
{#  faire  le tempating de base du mockup figma #}


{% block head_title %}{% trans %}Harvesting history{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}Harvesting history{% endtrans %}{% endblock %}<
{% block first_section_title %}Lorem ipsum{% endblock %}
{%  block first_section_content %}
    <div class="row">
        Dolor sit amet, consectetur adipisicing elit. Accusantium, alias asperiores atque autem consequatur cumque
                            </div>
{% endblock %}