{% extends "./base.html.jinja" %}

{% block head_title %} index page {% endblock %}
{% block page_title %}Overview {% endblock %}<
{% block first_section_title %}{% endblock %}
{%  block first_section_content %}{% endblock %}


{% block second_section_title %} perpetua ocurreret option principes {% endblock %}