{% extends "./base.html.jinja" %}

{% block head_title %} index page {% endblock %}
{% block page_title %}Overview {% endblock %}<
{% block first_section_title %} habemus novum epicurei {% endblock %}


{% block second_section_title %} perpetua ocurreret option principes {% endblock %}