{% extends "./base.html.jinja" %}
{% block head_title %}{% trans %}overview_page_overview_page_title{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}overview_page_overview_page_title{% endtrans %} {% endblock %}
{% block first_section_title %}{% endblock %}
{%  block first_section_content %}{% endblock %}
{% block second_section_title %}
{% endblock %}
