{% extends "./base.html.jinja" %}

{% block head_title %} Retrieve page {% endblock %}
{% block page_title %}Retrieve {% endblock %}<
{% block first_section_title %}{% endblock %}
{%  block first_section_content %}{% endblock %}


{% block second_section_title %} temp {% endblock %}
