{% extends "./base.html.jinja" %}

{% block head_title %}{% trans %}Data retrieval{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}Data retrieval{% endtrans %}{% endblock %}
{% block first_section_title %}{% trans %}Entity parameters{% endtrans %}{% endblock %}
{% block first_section_content %}
    <div class="row" id="retrieve-page-content">
        <div class="col-md-8 order-md-1 col-12 mb-md-0 mb-3" id="form-container">
            <form id="form-element">
                <div class="row">
                    <div class="col-md-10">
                        <h5>{% trans %}Entity type{% endtrans %}</h5>
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-searcher-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-searcher" type="button" role="tab"
                                        aria-controls="pills-searcher" aria-selected="true">{% trans %}
                                    Researcher{% endtrans %}</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-laboratory-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-laboratory" type="button" role="tab"
                                        aria-controls="pills-laboratory" aria-selected="false">{% trans %}Research
                                    structure{% endtrans %}</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-research-group-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-research-group" type="button" role="tab"
                                        aria-controls="pills-research-group" aria-selected="false">{% trans %}
                                    Institution{% endtrans %}</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-project-tab" data-bs-toggle="pill"
                                        data-bs-target="#pills-project" type="button" role="tab"
                                        aria-controls="pills-project" aria-selected="false">{% trans %}
                                    Project{% endtrans %}</button>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 d-flex justify-content-end">
                        <div class="text-md-end">
                            <h5>{% trans %}Safe mode{% endtrans %}</h5>
                            <input id="safe-mode-toggle" type="checkbox" data-toggle="toggle" checked/>
                        </div>
                    </div>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-searcher" role="tabpanel"
                         aria-labelledby="pills-searcher-tab" tabindex="0">Searcher form variant
                    </div>
                    <div class="tab-pane fade" id="pills-laboratory" role="tabpanel"
                         aria-labelledby="pills-laboratory-tab" tabindex="0">Lab form variant
                    </div>
                    <div class="tab-pane fade" id="pills-research-group" role="tabpanel"
                         aria-labelledby="pills-research-group-tab" tabindex="0">Research group form variant
                    </div>
                    <!--
                  <div class="tab-pane fade" id="pills-disabled" role="tabpanel" aria-labelledby="pills-disabled-tab" tabindex="0">test</div>
                  -->
                </div>
                <div id="identifier-fields-container"></div>


                <div class="row">
                    <div class="col-md-6 col-12">
                        <h5>{% trans %}Search type{% endtrans %}</h5>
                        <span hidden>{% trans %}Event type{% endtrans %}</span>
                        <select class="form-select mt-3 mb-3" aria-label="Default select example">
                            <option selected disabled value=""></option>
                            <option value="all">{% trans %}Comprehensive search{% endtrans %}</option>
                            <option value="new">{% trans %}Novelty search{% endtrans %}</option>
                            <option value="updated">{% trans %}Search for updates{% endtrans %}</option>
                            <option value="unchanged">{% trans %}Search for matches{% endtrans %}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-12">
                        <h5>{% trans %}Filter by notice type{% endtrans %}</h5>

                        <select class="form-select mt-3 mb-3" aria-label="Default select example">
                            <option selected disabled value=""></option>
                            <option value="ART">{% trans %}Journal article{% endtrans %}</option>
                            <option value="COMM">{% trans %}Conference presentation{% endtrans %}</option>
                            <option value="POSTER">{% trans %}Conference poster{% endtrans %}</option>
                            <option value="PROCEEDINGS">{% trans %}Proceedings{% endtrans %}</option>
                            <option value="ISSUE">{% trans %}Special journal issue{% endtrans %}</option>
                            <option value="OUV">{% trans %}Book{% endtrans %}</option>
                            <option value="COUV">{% trans %}Book chapter{% endtrans %}</option>
                            <option value="BLOG">{% trans %}Scientific blog post{% endtrans %}</option>
                            <option value="NOTICE">{% trans %}Encyclopedia or dictionary notice{% endtrans %}</option>
                            <option value="TRAD">{% trans %}Translation{% endtrans %}</option>
                            <option value="PATENT">{% trans %}Patent{% endtrans %}</option>
                            <option value="OTHER">{% trans %}Other scientific publication{% endtrans %}</option>
                            <option value="UNDEFINED">{% trans %}Working paper{% endtrans %}</option>
                            <option value="REPORT">{% trans %}Report{% endtrans %}</option>
                            <option value="THESE">{% trans %}Thésis{% endtrans %}</option>
                            <option value="HDR">{% trans %}HDR{% endtrans %}</option>
                            <option value="LECTURE">{% trans %}Lecture{% endtrans %}</option>
                            <option value="MEM">{% trans %}Student thesis{% endtrans %}</option>
                            <option value="IMG">{% trans %}Image{% endtrans %}</option>
                            <option value="VIDEO">{% trans %}Video{% endtrans %}</option>
                            <option value="SON">{% trans %}Sound{% endtrans %}</option>
                            <option value="MAP">{% trans %}Map{% endtrans %}</option>
                            <option value="SOFTWARE">{% trans %}Software{% endtrans %}</option>
                            <option value="PRESCONF">{% trans %}Document for scientific events{% endtrans %}</option>
                            <option value="CREPORT">{% trans %}Report Chapter{% endtrans %}</option>
                            <option value="ETABTHESE">{% trans %}Establishment thesis{% endtrans %}</option>
                            <option value="MEMLIC">{% trans %}typdoc_MEMLIC{% endtrans %}</option>
                            <option value="NOTE">{% trans %}Reading note{% endtrans %}</option>
                            <option value="OTHERREPORT">{% trans %}Other reports, seminars,
                                workshops{% endtrans %}</option>
                            <option value="REPACT">{% trans %}Activity report{% endtrans %}</option>
                            <option value="SYNTHESE">{% trans %}Summary notes{% endtrans %}</option>
                        </select>
                    </div>
                </div>

                <h5>{% trans %}Search range{% endtrans %}</h5>
                <span></span>
                <div class="input-group mt-3 mb-3">
                    <input type="text" aria-label="Since date" class="form-control" placeholder="De: Optionnel">
                    <input type="text" aria-label="Last date" class="form-control" placeholder="À: Optionnel">
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-primary" id="run-retrieval-btn"><i class="bi bi-search"></i>
                        {% trans %}Start search{% endtrans %}</button>
                </div>

            </form>
        </div>
        <div class="col-md-1 order-md-2 d-none d-md-block"></div>
        <div class="col-md-3 order-md-3 col-12">
            <div class="card bg-light mb-3 ms-auto">
                <div class="card-header">{% trans %}data collection status{% endtrans %}</div>
                <div class="card-body">
                    <ul class="list-group list-group-flush" id="harvesting-progress-widgets-container">


                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg-light ms-md-n2 ps-md-3 mt-2">
        <h2>{% trans %}Search results{% endtrans %}</h2>


        <div>
            <table id="references-table">

            </table>
        </div>

    </div>


{% endblock %}